.similar-item {
  list-style-type: none;
  margin-bottom: 10px;
  margin-right: 30px;
  margin-left: 0px;
}
.heading {
  font-size: 20px;
}
.item-rating-container {
  background-color: #3b82f6;
  display: flex;
  align-items: center;
  width: 50px;
  height: 30px;
  border-radius: 4px;
}
.rating-details-image {
  width: 15px;
  height: 15px;
}
.image-details {
  width: 250px;
}
